# vim: set ft=systemd :

[Unit]
Description=Consul service discovery agent
Documentation=https://consul.io
After=network.target

[Service]
User=consul
ExecStart=/usr/bin/consul agent \
            -dev \
            -bind=172.17.0.2 \
            -client=172.17.0.2 \
            -advertise=172.17.0.2
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
